body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer, section {
    background-color: #1f1f1f;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    margin: 0 auto; /* Căn giữa tất cả phần tử */
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.meo {
    width: 170px;  /* Điều chỉnh kích thước icon */
    height: 150px;
    margin-left: 10px; /* Tạo khoảng cách với chữ */
    vertical-align: middle; /* Canh giữa với chữ */
}

.icon {
    width: 40px;  /* Điều chỉnh kích thước icon */
    height: 40px;
    margin-left: 10px; /* Tạo khoảng cách với chữ */
    vertical-align: middle; /* Canh giữa với chữ */
}

.highlight {
    background-color: #333; 
    padding: 4px 8px;
    border-radius: 7px; 
}


h1 {
    color: #C7253E;
}

h2 {
    color: #FFB0B0;
    text-align: center;
}

section {
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: left;
}

.warning {
    color: #ff6666;
    font-weight: bold;
}

p {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    gap: 10px; /* Tạo khoảng cách giữa câu lệnh và nút */
}

code {
    background-color: #333;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Courier New', monospace;
    text-align: center; /* Căn giữa nội dung bên trong */
}

ul {
    list-style-type: disc; /* Hiển thị dấu chấm */
    padding-left: 20px; /* Tạo khoảng cách với lề trái */
}

li {
    margin-bottom: 15px; /* Tạo khoảng cách giữa các dòng */
}


button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffcc00;
    color: #121212;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFEEAD;
}

a {
    color: #7CF5FF;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img:hover {
    transform: scale(2.5);
    transition: transform 1s;
}



footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
